version: "3.9"
services:
  mongo:
    image: mongo
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${DB_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${DB_PASS}
    ports:
      - 27017:${DB_PORT}
    volumes:
      - ./data/db:/data/db
  mongo-express:
    image: mongo-express
    restart: unless-stopped
    ports:
      - 8081:${DB_ADMIN_UI_PORT}
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: ${DB_USER}
      ME_CONFIG_MONGODB_ADMINPASSWORD: ${DB_PASS}
      ME_CONFIG_MONGODB_URL: mongodb://${DB_USER}:${DB_PASS}@${DB_HOST}:${DB_PORT}/
  mock-api:
    build: .
    volumes:
      - ./app:/app
    environment:
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
    ports:
     - ${APP_PORT}:80
    restart: unless-stopped
    depends_on:
    - mongo
    entrypoint: /start-reload.sh
